@font-face {
    font-family: 'source_sans_proregular';
    src: url('data/font/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('data/font/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: source_sans_proregular,Arial,sans-serif;
}


#map_container {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#map {
    width: 70vw;
    height: 70vh;
}

#info_station {
    display: none;
    width: 30vw;
    min-height: 70vh;
    border: 1px solid #000;
}

.btn {
    cursor: pointer;
}

#canvas_container {
    display: none;
}

#canvas {
    border: 1px solid #000;
}
